
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link href="{% static 'src/styles.css' %}" rel="stylesheet">

</head>
<body>
<nav class="h-14 w-screen flex navbar navbar-expand-md bg-blue-400 justify-around items-center">
    
    <br>

        <div>
            <img src="{% static 'image/abc.jpg.png' %}" class="h-14S w-14 "></div>
        <div>
            <ul class="flex justify-center items-center gap-12">
                <li><a href="{% url 'home' %}" class="link active" >Home</a></li>
                <li><a href="{% url 'blog' %}" class="link" >Blog</a></li>
                <li><a href="{% url 'shop' %}" class="link" >Shop</a></li>
                <button><li><a href="{% url 'signin' %}" class="link" >Sign In</a></li></button>
                <button><li><a href="{% url 'signup' %}" class="link" >Sign Up</a></li></button>
                <li><a href="{% url 'login' %}" class="link" >Login</a></li>
               
                
                 </li>
       
            </ul>
        </div>
        <div>
            <form method="get" action="{% url 'search' %}">
                <input type="text" placeholder="Search" name="Search">
                <input type="submit" value="Search">
            </form>
            
        </div>
        <div>
            <button class=" p-2  rounded-lg  "><li><a href="{% url 'logout' %}" class="link" >LOG OUT</a></li></button>
        </div>
    </nav>
   
{% block content %}'

{% endblock %}
<br>
</body>
</html>