{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>

    <div class="flex justify-center items-center flex-wrap">
        
       
        <div class="shadow-2xl bg-slate-300 rounded-lg p-5 h-[450px] w-[320px] border-l-2">
            
           <img src="{% static 'image/tshirt.jpg.webp' %}" class="h-40  w-48">
            <h1 class="text-xs font-bold">T-Shirt & Halfpant For Men| stylish | summer | Comfortable| Set of 2pcs| KD5|</h1>
            <p>Product details of T-Shirt & Halfpant For Men| stylish | summer | Comfortable| Set of 2pcs| KD5|
               </p>
            <button class="bg-white p-2 w-full mb-2">View Detail</button>
            <div class="flex gap-2 justify-center">
                <button class="bg-blue-500 p-5 rounded font-bold ">Buy Now</button> 
                <button class="bg-orange-400 p-2 rounded font-semibold">Add to cart</button>
    
            </div>
    
        </div>



        <div class="shadow-2x  bg-slate-300 rounded-lg p-5 h-[450px] w-[320px] border-l-2">
            <img src="{% static 'image/pc.jpg.webp' %}" class="h-40  w-48">
             <h1 class="text-xs font-bold">Gaming PC Ryzen 3 3200G With Radeon Vega 8 Graphics 256GB NVME SSD 8GB DDR4 RAM(CPU Only)</h1>
             <p>
                Product details of Gaming PC
                Processor: Ryzen 5 5600G
Board: B550M Asrock / Gigabyte / MSI
RAM: Crucial/ Silicon Power / Adata / Hynix 16GB

                </p>
             <button class="bg-white p-2 w-full mb-2">View Detail</button>
             <div class="flex gap-2 justify-center">
                 <button class="bg-blue-500 p-5  buttonsize-12 rounded font-bold ">Buy Now</button> 
                 <button class="bg-orange-400 p-2 rounded font-semibold">Add to cart</button>
    
             </div>
     
         </div>



         <div class="shadow-2x  bg-slate-300 rounded-lg p-5 h-[450px] w-[320px] border-l-2">
            <img src="{% static 'image/headphone.jpg.webp' %}" class="h-40  w-48">
             <h1 class="text-xs font-bold"> FANTECH HG20 CHIEF II 3.5mm RGB Light Gaming Headset With Microphone-Black</h1>
             <p>
                Product details of FANTECH HG20 CHIEF 
                Full Size Around Ear
50mm Driver Unit
LED: RGB Illumination
Plug type: 3.5mm+USB
Cable Length: 2.0m
                </p>
             <button class="bg-white p-2 w-full mb-2">View Detail</button>
             <div class="flex gap-2 justify-center">
                 <button class="bg-blue-500 p-5 rounded font-bold ">Buy Now</button> 
                 <button class="bg-orange-400 p-2 rounded font-semibold">Add to cart</button>
     
             </div>
     
         </div>






    </div>
    {% endblock %}
